.banner {
    width: 100%;
    text-align: center;
    padding: 10px;
}
.banner h1 {
    color: #596E08;
    margin-bottom: 10px;
}
.banner a {
    color: #596E08;
}
.banner h2 {
    color: #5b6f0c;
    margin-top: 20px;
}
