.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5b6f0c;
    border: 1px solid #5b6f0c;
    border-radius: 5px;
    padding: 5px 10px;
}

.dropdown-btn{
    content: "<svg version='1.0' xmlns='http://www.w3.org/2000/svg' width='16.000000pt' height='16.000000pt' viewBox='0 0 16.000000 16.000000' preserveAspectRatio='xMidYMid meet'> <g transform='translate(0.000000,16.000000) scale(0.100000,-0.100000)' fill='#5b6f0c' stroke='none'> <path d='M43 83 l37 -38 37 38 38 37 -75 0 -75 0 38 -37z'/> </g> </svg>";
    display: block;
    width: 22px;
    height: 10px;
    margin: 10px 5px 0 10px;
}

.dropdown:hover {
    cursor: pointer;
}
.dropdown-wrapper {
    position: relative;
    margin-bottom: 20px;
}
.dropdown-label {
    display: block;
    margin-bottom: 10px;
}
.dropdown-options {
    border: 1px solid #5b6f0c;
    border-radius: 5px;
    border-top: none;
    padding: 5px 0 0 0;
    display: none;
    position: absolute;
    background: #fff;
    z-index: 10;
    width: 100%;
}
.dropdown-options.active {
    display: block;
}
.dropdown-option {
    padding: 5px 10px;
    color: #5b6f0c;
}
.dropdown-option:hover {
    cursor: pointer;
    background: #5b6f0c;
    color: #fff;
}